<tr>
  <td><%= employee.full_name %></td>
  <td><%= employee.job_title %></td>
  <td><%= employee.country %></td>
  <td><%= employee.salary %></td>
  <td><%= employee.email %></td>
  <td><%= employee.department %></td>
</tr>